@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.nav-item{
    padding:2px;
    margin-left: 7px;
    color: #fff !important; 
}

.dropdown-item {
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(128, 128, 128) !important;
}

.nav-link {
    color: rgb(128, 128, 128) !important;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: medium;
}

.btn {
    font-family: 'Montserrat';
    font-weight: 700;
}

.active {
    color: rgb(0, 0, 0) !important;
}

.navbar {
    background-color:  white !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    color: #fff;
}

.logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.modal-newsletter {	
    color: #999;
    width: auto;
    font-size: 15px;
    margin: 30px auto;
}
.modal-newsletter .modal-content {
    padding: 30px;
    border-radius: 0;		
    border: none;
}
.modal-newsletter .modal-header {
    border-bottom: none;   
    position: relative;
    border-radius: 0;
}
.modal-newsletter h4 {
    color: #000;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}
.modal-newsletter .close {
    position: absolute;
    top: -15px;
    right: -15px;
    text-shadow: none;
    opacity: 0.3;
    font-size: 24px;
}
.modal-newsletter .close:hover {
    opacity: 0.8;
}
.modal-newsletter .icon-box {
    color: #7265ea;		
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.modal-newsletter .icon-box i {
    font-size: 110px;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
    min-height: 46px;
    border-radius: 0;
}
.modal-newsletter .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
}
.modal-newsletter .form-control:focus {
    border-color: #f95858;
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
}
.modal-newsletter .btn {
    color: #fff;
    background: #8ac55a;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    margin-left: 6px !important;
    border: none;
}
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
    background: #6ab42f;
    outline: none;
}
.modal-newsletter .input-group {
    margin-top: 30px;
}
.hint-text {
    margin: 100px auto;
    text-align: center;
}

.subs {
    background-color: #6ab42f;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff !important;
}

.motto {
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(128, 128, 128);
    font-size: 20px;
}

 .dropdown-item.active {
    color: #000;
    background-color: #fff;
}