<div class="tm-container mx-auto mt-5">
  <h1 class="order">Következő palántarendelési időszak: 2022 februártól!</h1>
  <section class="tm-section tm-section-1">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="tm-bg-circle-white tm-flex-center-v shadow">
                      <header class="text-center">
                          <h1 class="tm-site-title">Termelj Te is</h1>
                          <p class="tm-site-subtitle">saját kertedben vagy balkonodon,</p>
                      </header>
                      <p class="hiszen">hiszen nincs jobb érzés, mint azt az asztalra tenni, amiben saját kezünk munkája van.</p>
                      <p class="text-center mt-4 mb-0">
                          
                      </p>

                  </div>
              </div>
          </div>
      </div>
  </section>
  <section id="tm-section-2" class="tm-section pt-2 pb-2">
      <div class="container">
          <div class="row">
              <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                  <h2 class="tm-color-secondary mb-4">Ehhez ajánlom vegyszer- és műtrágyamentes palántáimat.</h2>
                  <p class="mb-4 font"><a [routerLink]="['/plants']" [queryParams]="{ category: 'összes'}">Széleskörű kínálatomban</a> biztosan megtalálod a
                    számodra alkalmas fajtákat, legyen szó paradicsomról, paprikáról, tökfélékről, káposztafélékről,
                    salátákról, uborkáról, padlizsánról, zellerről, kelfélékről és fűszernövényekről.</p>
                  <p class="mb-5 font"> A hagyományos fajták
                    mellett különlegességeket is találsz, amivel biztosan elkápráztatod a családot.</p>
                  <p class="text-right mb-0">
                      
                  </p>
              </div>
              <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                  <img src="./assets/pal1.jpg" alt="Image" class="rounded-circle tm-circle-img shadow">
              </div>
          </div>
      </div>
  </section>
  <section id="tm-section-3" class="tm-section tm-section-3">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 tm-section-2-right">
                  <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v shadow">
                      <header>
                          <h2 class="tm-color-primary">Élj a lehetőséggel</h2>
                      </header>
                      <p class="font">és ismerkedj meg új zöldségekkel is egyenesen a saját kertedből. Ettél már kínai kelt, pak-choyt vagy a
                        konyhaművészetben közkedvelt pagoda karfiolt?</p>
                      <p class="font">A kiválasztott palántákat a feltüntetett településeken belül házhoz is szállítom május 2-3. hetében
                        (kivéve a külön más időponttal jelzett fajtákat!).
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="tm-section pt-2 pb-3">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
                  <header>
                    <h2 class="tm-color-primary">Palántarendelés</h2>
                    <p class="font">Foglalási igényedet leadhatod az oldal alján található űrlapon, a kiskert.m@gmail.com e-mail címen, a +3670/231-4374
                      telefonszámon, illetve a Kiskert-M <a href="https://www.facebook.com/kiskert.m/">Facebook</a> vagy <a href="https://www.instagram.com/kiskert_m/">Instagram</a> oldalon is.</p>
                    <p class="font">Rendelés leadásakor kérlek jelöld meg a választott fajtákat darabszámmal együtt. A rendelés
                      feldolgozása után mindenképp felveszem veled a kapcsolatot a megadott elérhetőségeken, leadott
                      igényedet csak ezután véglegesítem.</p>
                    <p class="font">Kérlek, csak a szállításra megjelölt településekről adj le rendelést vagy akkor, ha személyesen érte
                      tudsz jönni Hódmezővásárhelyre. Postázást a palánták sérülékenysége miatt sajnos nem tudok
                      megoldani.</p>
                  </header>
              </div>
              <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
                  <img src="./assets/pal41.jpg" alt="Image" class="rounded-circle tm-circle-img shadow">
              </div>
          </div>
      </div>
  </section>
  <section id="tm-section-4" class="tm-section tm-section-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 tm-section-2-right">
                <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v shadow">
                    <header>
                        <h2 class="tm-color-primary">Házhozszállítás</h2>
                    </header>
                    <p class="font">Vegyszer- és műtrágyamentes palántáimat az időjárás függvényében május 2-3. hetében szállítom
                      házhoz. Ettől eltérő időpontban kerülnek kiszállításra azok a fajták, melyeknél külön megjelöltem az
                      átvétel időpontját – de mindenképp előzetes egyeztetés után.</p>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tm-section pt-2 pb-3">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
              <header>
                <p class="font"><strong>Hódmezővásárhelyen és Kishomokon</strong> a palánták kiszállítási ára – rendelési mennyiségtől függetlenül
                  – 300 forint/cím.</p>
                <p class="font"><strong>1. szállítási útvonal:</strong> Algyő – Szeged – Újszeged – Deszk – Klárafalva – Kiszombor – Makó – Óföldeák –
                  Földeák</p>
                <p class="font"><strong>2. szállítási útvonal:</strong> Mártély – Mindszent – Baks – Csanytelek – Ópusztaszer – Kistelek – Balástya –
                  Sándorfalva</p>
                <p class="font">
                  <strong>3. szállítási útvonal:</strong> Székkutas – Kakasszék – Orosháza – Nagymágocs – Szentes – Derekegyház
                </p>
              </header>
          </div>
          <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
              <img src="./assets/pal31.jpg" alt="Image" class="rounded-circle tm-circle-img shadow">
          </div>
      </div>
  </div>
</section>
<section id="tm-section-5" class="tm-section tm-section-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 tm-section-2-right">
              <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v shadow">
                  <header>
                  
                  </header>
                  <p class="font">A feltüntetett szállítási útvonalakon a házhozszállítás ára egységesen 500 forint/cím. Útvonalanként
                    minimum 10 rendelés szükséges ahhoz, hogy a kiszállítás megtörténhessen. Ha nem gyűlik össze elég
                    rendelő, akkor az adott útvonal addigi rendelőivel egyénileg egyeztetek és megpróbálunk egy
                    mindenki számára megfelelő megoldást találni.</p>
                  <p class="font">
                    Egyéb településekre Hódmezővásárhely 50 km-es körzetében van lehetőség rendelni. Az egyéb
településekről leadott rendelések kiszállítását egyénileg egyeztetjük.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="tm-section pt-2 pb-3">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
              <header>
                <h2 class="tm-color-primary">Fizetés</h2>
                <p class="font">Fizetésre lehetőség van készpénzben a palánták átvételekor vagy banki átutalással a kiszállítást
                  megelőző 3 napon belül.</p>
              </header>
          </div>
          <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
              <img src="./assets/pal6.jpg" alt="Image" class="rounded-circle tm-circle-img shadow">
          </div>
      </div>
  </div>
</section>
</div>
<div>
  <h1 class="font">Add le rendelésedet itt:</h1>
  <form class="form-group mx-auto" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
    <label for="name" class="font">Név</label>
    <input type="text" class="form-control" id="name" [formControl]="name" required>
    <label for="phone" class="font">Telefonszám</label>
    <input type="text" class="form-control" id="phone" [formControl]="phone">
    <label for="email" class="font">Email</label>
    <input type="email" class="form-control" id="email" [formControl]="email" placeholder="email@example.com" required>
    <label for="message" class="font">Rendelés / Kérdés</label>
    <textarea id="message" class="form-control" [formControl]="message"
      placeholder="Ide írd az üzeneted..." required></textarea>
    <button [disabled]="isLoading" class="btn btn-success" type="submit">Küldés</button>
    <input [formControl]="honeypot" class="hidden" type="text" />
    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span>{{responseMessage}}</span>
    </div>
  </form>
</div>