<div class="margin container-fluid mt-3 mx-auto">
    <div class="row">
        <div class=" col col-md-4 mt-4" *ngFor="let plant of categoryPlants;">
            <div class="card profile-card-5">
                <div class="card-img-block">
                    <img class="card-img-top" src="https://i.ibb.co/dkTqGyg/paradicsom.jpg" alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h4 class="card-title">{{plant.species}}</h4>
                    <p class="card-text">{{plant.description}}</p>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf="plant.price_two">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><strong>Cserepes ár:</strong></td>
                                    <td style="text-align: right;"><strong>{{plant.price_one}} Ft/db</strong> </td>
                                </tr>
                                <tr>
                                    <td><strong>Földkockás ár:</strong></td>
                                    <td style="text-align: right;"><strong> {{plant.price_two}} Ft/db</strong></td>
                                </tr>
                            </table>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!plant.price_two">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><strong>Ár:</strong></td>
                                    <td style="text-align: right;"><strong> {{plant.price_one}} Ft/db</strong></td>
                                </tr>
                            </table>
                        </div>
                    </ng-container> 
                </div>
            </div>
        </div>
    </div>
</div>